doctype html
html(lang="ru")
    head
        title Портфолио. Веб-разработчик.
        link(rel="stylesheet", href="/bundle.css")
    body.page
        header.header 
            section.header__container
                img.header__logo(src="./images/ilogo.png", alt="Логотип")
                ul.header__menu
                    li.header__item
                        a.header__link(href="#").
                            Обо мне
                        a.header__link(href="#").
                            Проекты
        section.baner
            h1.
                &lt;h1&gt;Привет &lt;/h1&gt;
            p. 
                Меня зовут Мария. Я frontend-разработчик