doctype html
html(lang="ru")
    head
        title Портфолио. Веб-разработчик.
        link(rel="stylesheet", href="/bundle.css")
    body.page
        header.header 
            section.header__container
                img.header__logo(src="./images/ilogo.png", alt="Логотип")
                ul.header__menu
                    li.header__item
                        a.header__link(href="#").
                            Обо мне
                        a.header__link(href="#").
                            Проекты
        section.baner
            section.baner__container
                h1.baner__title Привет!
                p.baner__text Меня зовут Мария.
                 p.baner__text Я Frontend-developer.
